version: 2.1
orbs:
  node: circleci/node@1.1.6
  heroku: circleci/heroku@0.0.10
jobs:
  build-and-test:
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: npm install
            - run: npm test
  heroku_deploy:
    steps:
      - heroku/deploy-via-git
workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build-and-test
      - heroku_deploy:
          requires:
            - build-and-test