.news-feed-table {
  border-collapse: collapse;
  width: 100%;
}

.news-feed-header-item.left-align {
  text-align: left;
}

.news-feed-header-item.center {
  text-align: center;
}

.news-feed-header-item.fixed-width {
  width: 5em;
}

.news-feed-header-item,
.news-feed-data-item {
  padding: 15px;
}

.news-feed-data-item.left-align {
  text-align: left;
}

.news-feed-data-item.center {
  text-align: center;
}

.news-feed-data-item .news-title {
  display: inline-block;
  margin: 0 10px 0 0;
}

.news-feed-data-item .news-author {
  display: inline-block;
  margin: 0 10px;
}

.news-feed-data-item .news-author-name {
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
}

.news-feed-data-item .upvote {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.news-feed-data-item .upvote-icon {
  width: 30px;
}

.news-feed-data-item .news-hide {
  margin-left: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

th {
  background-color: orange;
  color: white;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

.btn-wrapper {
  text-align: right;
  width: 100%;
  margin: 1em 0;
  padding-right: 1em;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

.prev,
.next {
  background-color: transparent;
  border: none;
  color: darkorange;
  cursor: pointer;
}

.prev:disabled {
  color: gray;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .news-feed-data-item.left-align {
    text-align: center;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    margin: 0;
  }

  tr:nth-child(odd) {
    background: #ccc;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    top: 30%;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:nth-of-type(1):before {
    content: "Comments";
  }
  td:nth-of-type(2):before {
    content: "Vote Count";
  }
  td:nth-of-type(3):before {
    content: "Upvote";
  }
  td:nth-of-type(4):before {
    content: "News Details";
    top: 6%;
    width: 100%;
  }

  .news-feed-details-wrapper {
    margin-top: 2em;
    overflow: hidden;
  }
}
